*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#101015;
  color:#fff;
  font-family: "Montserrat Medium", serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
